node_modules
.next
dist
.DS_Store
*.tsbuildinfo
.env
.env.local
.env.production
data/*.db
data/*.db-journal
data/*.db-shm
data/*.db-wal
data/.DS_Store
data/runtime/*
data/uploads/*
data/cache/rss/*
!.gitkeep
npm-debug.log*
